@jsr:registry=https://npm.jsr.io
@DIF:registry=https://registry.figma.com/npm/d1330378-6232-4355-bb26-999f36c962f4/registry/
//registry.figma.com/npm/d1330378-6232-4355-bb26-999f36c962f4/registry/:_authToken=figp_og_tv3UhuWIFKjAJC7pgqc_BPpBlix0mFHji2ERE
